{% extends 'base.html.twig' %}

{% block body %}

    <form>
        <input name="query" value="{{ query | replace({"+":" "}) }}">
        {#<input name="query" value="{{ query | replace({"+":" "}) }}">#}
        {#<input name="query" value="{{ query | replace({"+":" "}) }}">#}
        <button type="submit">Search</button>
    </form>

    <table id="places">
        <thead>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Hours</th>
            <th>Website</th>
            <th>Add</th>
        </thead>

        <tbody>
            {% for place in places %}
                <tr>
                    <td>{{ place.name }}</td>
                    <td>{{ place.phone }}</td>
                    <td>{{ place.address }}</td>
                    <td>{{ place.hours }}</td>
                    <td>{{ place.website }}</td>
                    <td><a href="{{ path('saveData', {'placeId': place.placeId, 'name':place.name, 'phone':place.phone, 'address':place.address, 'hours':place.hours, 'website':place.website}) }}">Add</a></td>
                    {#<td><a href="{{ path('saveData', {'placeId': place.placeId}) }}">Add</a></td>#}
                    {#<td><button id="addButton" type="button" class="btn btn-primary">Add</button></td>#}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#places').DataTable();

        } );
    </script>
{% endblock %}